<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Hospital Login</h1>
</header>
<div class="container">
    <form th:action="@{/hospitals/login}" th:object="${hospital}" method="post">
        <input type="text" th:field="*{username}" placeholder="Username" required />
        <input type="password" th:field="*{password}" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
